/*!
Project: Webdows
Liscense: MIT
Author: krisdb2009
Date: 04/12/16
File: webdows/resources/explorer/classic/index.css
*/
* {
font-family:NotoSans;
}
#desktop {
background-size:100% 100%;
background-color:#3C6DA3;
cursor: url('cur.png'), default;
}
#startmenu, .window, .context  {
box-shadow: inset -1px -1px 0px #808080, inset 1px 1px 0px #fff;
border-top: 1px solid #D2CEC6;
border-left: 1px solid #D2CEC6;
border-right: 1px solid #424242;
border-bottom: 1px solid #424242;
}
input[type=text] {
box-shadow: inset 1px 1px 0px #424242, inset -1px -1px #D2CEC6;
border-top: 1px solid #808080;
border-left: 1px solid #808080;
border-right: 1px solid #fff;
border-bottom: 1px solid #fff;
}
button, #start, #taskbar #middleframe .button, .window .minmaxclose span {
box-shadow: inset -1px -1px 0px #808080, inset 1px 1px 0px #D2CEC6;
border-top: 1px solid #fff;
border-left: 1px solid #fff;
border-right: 1px solid #424242;
border-bottom: 1px solid #424242;
}
button:active, #start:active, #taskbar #middleframe .button:active, #taskbar #middleframe .button.active, .window .minmaxclose span:active {
box-shadow: inset 1px 1px 0px #808080, inset -1px -1px 0px #D2CEC6;
border-top: 1px solid #424242;
border-left: 1px solid #424242;
border-right: 1px solid #fff;
border-bottom: 1px solid #fff;
color:transparent;
text-shadow:1px 1px 0px black;
}
button:focus {
box-shadow:inset -1px -1px 0px #404040, inset 1px 1px 0px #fff, inset -2px -2px 0px #808080;
border:1px solid black;
outline:1px dotted black;
outline-offset:-4px;
}
button:focus:active {
box-shadow: inset 1px 1px 0px #808080, inset -1px -1px 0px #808080;
}
#taskbar  {
height:29px;
border-top:1px solid white;
box-shadow:0px -1px #D2CEC6;
position:absolute;
bottom:0px;
left:0px;
width:100%;
z-index:1000;
background-color:#D2CEC6;
}
#taskbar #middleframe {
display:flex;
overflow:hidden;
position:absolute;
left:56px;
right:85px;
top:0px;
}
#taskbar #rightframe {
position:absolute;
right:5px;
display:inline-block;
width:75px;
top:0px;
}
#taskbar #leftframe #start {
width:50px;
height:21px;
position:absolute;
bottom:3px;
left:4px;
text-align:center;
line-height:21px;
font-size:12px;
font-weight:bold;
}
#taskbar #leftframe #start::after {
content:"Start";
}
#taskbar #leftframe #start::before {
image-rendering:pixelated;
content:"";
display:inline-block;
background-image:url('sta.png');
width:18px;
height:18px;
vertical-align:-4px;
margin-left:-1px;
margin-right:1px;
}
#taskbar #rightframe #time {
width:75px;
font-size:14px;
line-height:21px;
height:21px;
text-align:center;
display:inline-block;
border-top: 1px solid #808080;
border-left: 1px solid #808080;
border-right: 1px solid #fff;
border-bottom: 1px solid #fff;
margin-top:3px;
}
button {
background-color:#D2CEC6;
}
#taskbar #middleframe .button {
max-width:157px;
width:100%;
height:21px;
display:inline-block;
position:relative;
margin-left:4px;
vertical-align:top;
line-height:18px;
font-size:14px;
padding-right:3px;
text-overflow:ellipsis;
overflow:hidden;
white-space:nowrap;
margin-top:3px;
background-color:#D2CEC6;
}
#taskbar #middleframe .button.active {
background-color:white;
}
#taskbar #middleframe .button .icon {
width:18px;
margin-left:5px;
margin-top:2px;
margin-right:5px;
height:18px;
vertical-align:bottom;
display:inline-block;
}
.window {
width:300px;
height:300px;
top:10px;
left:10px;
position:absolute !important;
min-height:38px;
min-width:117px;
background-color:#D2CEC6;
}
.window.close {
display:none;
}
.window .minmaxclose {
height:20px;
display:inline-block;
position:absolute;
top:1px;
right:5px;
text-align:right;
image-rendering:pixelated;
}
.window .minmaxclose span {
display:inline-block;
height:12px;
background-color:#D2CEC6;
width:14px;
background-repeat:no-repeat;
background-position:2px 1px;
}
.window .minmaxclose span:active {
background-position:3px 2px;
}
.window .minmaxclose .min {
background-image:url('min.png');
}
.window .minmaxclose .max {
background-image:url('max.png');
}
.window .minmaxclose .close {
background-image:url('clo.png');
margin-left:2px;
}
.window.maximized .minmaxclose .max {
background-image:url('mmax.png');
}
.window.minimized {
visibility:hidden;
opacity:0;
}
.window.maximized {
width:100% !important;
height:calc(100% - 30px) !important;
top:0px !important;
left:0px !important;
border:none;
box-shadow:none;
}
.window.maximized .ttl {
margin:0;
}
.window.maximized .body {
left:0px;
right:0px;
bottom:0px;
border:none;
border-top:1px solid transparent;
top:19px;
}
.window.maximized .minmaxclose {
right:3px;
top:-1px;
}
.window .ttl {
margin-top:2px;
margin-left:2px;
margin-right:3px;
color:white;
font-size:14px;
text-overflow:ellipsis;
overflow:hidden;
white-space: nowrap;
display:block;
height:18px;
background: linear-gradient(to right, #7F7F7F 0%,#BEBEBE 100%);
color:lightgray;
line-height:18px;
padding-right:55px;
}
.window.active .ttl {
background: linear-gradient(to right, rgba(10,36,106,1) 0%,rgba(166,202,240,1) 100%);
color:white;
}
.window .ttl .icon {
width:18px;
margin-left:1px;
margin-top:1px;
margin-right:1px;
height:16px;
vertical-align:top;
display:inline-block;
}
.window .body {
border:1px solid transparent;
position:absolute;
left:2px;
right:2px;
top:22px;
bottom:2px;
background-color:#D2CEC6;
color:black;
overflow:auto;
}
.window .ui-resizable-handle {
position:absolute;
}
.window .ui-resizable-n {
top:0px;
width:100%;
height:3px;
left:0px;
cursor:ns-resize;
}
.window .ui-resizable-e {
height:100%;
width:5px;
right:0px;
top:0px;
cursor:ew-resize;
}
.window .ui-resizable-s {
width:100%;
height:5px;
left:0px;
bottom:0px;
cursor:ns-resize;
}
.window .ui-resizable-w {
height:100%;
width:5px;
left:0px;
top:0px;
cursor:ew-resize;
}
.window .ui-resizable-ne {
width:5px;
height:5px;
cursor:ne-resize;
right:0px;
top:0px;
}
.window .ui-resizable-se {
width:5px;
height:5px;
cursor:se-resize;
right:0px;
bottom:0px;
}
.window .ui-resizable-sw {
width:5px;
height:5px;
cursor:sw-resize;
left:0px;
bottom:0px;
}
.window .ui-resizable-nw {
width:5px;
height:5px;
cursor:nw-resize;
left:0px;
top:0px;
}
#startmenu {
position:absolute;
bottom:31px;
left:0px;
width:409px;
height:474px;
z-index:999;
background-color:#D2CEC6;
}
#startmenu.minimized {
visibility:hidden;
}
#startmenu .lllist {
border-right:1px solid #7E7E7E;
box-shadow:1px 0px 0px white;
width:250px;
height:382px;
position:absolute;
left:7px;
top:7px;
overflow:hidden;
}
#startmenu .rllist .button:hover, #startmenu .lllist .button:hover, #startmenu  .apb:hover::after, .context .button.hovered {
background-color:#092368;
color:white;
}
#startmenu .lllist.all {
background-color:white;
}
#startmenu .lllist.all {
overflow-y:scroll;
}
#startmenu .search {
position:absolute;
bottom:8px;
left:7px;
width:250px;
height:45px;
font-size:14px;
border-right:1px solid #7E7E7E;
box-shadow:1px 0px 0px white;
}
#startmenu .search input {
height:20px;
position:absolute;
top:10px;
left:10px;
width:calc(100% - 24px);
}
#startmenu .lllist.all .button {
height:18px;
line-height:16px;
font-size:13px;
}
#startmenu .apb {
bottom:53px;
left:7px;
position:absolute;
right:10px;
height:32px;
width:250px;
border-right:1px solid #7E7E7E;
box-shadow:1px 0px 0px white;
}
#startmenu .apb::after {
top:4px;
left:2px;
position:absolute;
content:"\25B6 \20 All Programs";
right:2px;
font-size:13px;
padding-left:5px;
padding-right:5px;
}
#startmenu .lllist.all + .apb::after {
content:"\25c0 \20 Back";
}
#startmenu .apb::before {
border-top:1px solid #7E7E7E;
box-shadow:0px 1px 0px white;
content:"";
width:calc(100% - 14px);
position:absolute;
margin-left:7px;
}
#startmenu .lllist .button {
margin-left:2px;
margin-right:2px;
width:auto;
height:34px;
border:1px solid transparent;
display:block;
font-size:14px;
margin-top:2px;
text-overflow:ellipsis;
overflow:hidden;
white-space: nowrap;
}
#startmenu .lllist .button .icon {
display:inline-block;
width:32px;
height:32px;
vertical-align:-10px;
margin-right:6px;
}
#startmenu .lllist.all .button .icon {
width:16px;
height:16px;
vertical-align: -3px;
}
#startmenu .rllist {
right:7px;
top:80px;
position:absolute;
left:265px;
}
#startmenu .rllist .button {
height:29px;
width:calc(100% - 12px);
font-size:13px;
line-height:28px;
padding-left:6px;
padding-right:6px;
text-overflow:ellipsis;
overflow:hidden;
white-space: nowrap;
margin-bottom:5px;
}
#startmenu > .icon {
content:"";
position:absolute;
display:block;
width:70px;
height:70px;
background-image:url('../../icons/logo.png');
background-size:100% 100%;
right:40px;
}
.context {
background-color:#d4d0c8;
font-size:12px;
display:inline-block;
position:absolute;
z-index:1002;
animation:.3s fadein;
padding:2px;
box-shadow: inset -1px -1px 0px #808080, inset 1px 1px 0px #fff, 3px 3px 3px rgba(0,0,0,.3);
}
.context .hr {
display:block;
height:2px;
background-color:#808080;
box-shadow:inset 0px -1px 0px white;
margin:3px 0px 3px 0px;
}
.context .button {
padding:0px;
border:1px solid transparent;
position:relative;
}
.context .button.disabled {
text-shadow:1px 1px 0px white;
color:#808080;
}
.context .button.disabled.hovered {
text-shadow:none;
color:#808080;
}
.context .title {
padding-right:50px;
}
.context .icon {
vertical-align:-3px;
margin-right:5px
}
.context .button.arrow::after {
content:"\25B6";
float:right;
margin-right:2px;
}
@keyframes fadein {
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}