#desktop {
background-image:url('bg.jpg');
background-size:100% 100%;
font-family:Segoe UI;
}
#taskbar  {
height:29px;
border-top:1px solid rgba(0,0,0,.5);
box-shadow:inset 0px 0px 1px white;
background-image:url('glass.png');
background-size:100%;
background-color:rgba(0,0,0,.5);
position:fixed;
bottom:0px;
left:0px;
width:100%;
z-index:1000;
}
#taskbar #leftframe {
width:50px;
height:30px;
display:inline-block;
}
#taskbar #rightframe {
position:absolute;
right:0px;
display:inline-block;
top:0px;
}
#taskbar #leftframe #start {
width:54px;
height:54px;
position:absolute;
bottom:0px;
transition:.5s;
background-image:url('so1.png');
margin-left:-2px;
margin-bottom:-11px;
}
#taskbar #leftframe #start::before {
content:"";
}
#taskbar #leftframe #start:hover {
background-image:url('so2.png');
}
#taskbar #leftframe #start:active {
transition:none;
background-image:url('so3.png');
}
#taskbar #rightframe #time {
color:white;
font-size:14px;
line-height:28px;
height:30px;
padding-right:10px;
padding-left:50px;
background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,.3) 52%,rgba(0,0,0,.3) 100%);
display:inline-block;
}
#taskbar .button {
width:157px;
height:30px;
background:url('tbb.png'), linear-gradient(to bottom, transparent 0%,rgba(254,191,1,.5) 100%);
background-position:0, 0px 30px;
background-repeat:no-repeat, no-repeat;
display:inline-block;
position:relative;
top:-1px;
margin-left:2px;
vertical-align:top;
color:white;
line-height:18px;
font-size:14px;
padding-right:3px;
text-overflow:ellipsis;
overflow:hidden;
white-space: nowrap;
transition:.5s;
}
#taskbar .button:hover {
background-position:0, 0px 0px;
}
#taskbar .button.ui-sortable-helper {
transition:none;
}
#taskbar .button::before {
content:"";
width:18px;
margin-left:10px;
margin-top:6px;
margin-right:5px;
height:18px;
vertical-align:bottom;
display:inline-block;
}
.window {
width:300px;
height:300px;
top:10px;
left:10px;
position:absolute;
border-radius:7px;
border:1px solid rgba(0,0,0,.5);
box-shadow:inset 0px 0px 1px white, 0px 0px 20px black;
background-color: rgba(0,0,0,.4);
background-image:url('glass.png'), linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 21%,rgba(255,255,255,.5) 33%,rgba(255,255,255,0) 34%,rgba(255,255,255,0) 100%);
background-size:600px, 100% 300px;
background-repeat:repeat, no-repeat;
}
.window.active {
background-color: rgba(0,0,0,.7);
}
.window .ttl {
color:black;
font-size:14px;
text-shadow:0px 0px 10px white, 0px 0px 10px white, 0px 0px 10px white;
text-overflow:ellipsis;
overflow:hidden;
white-space: nowrap;
display:inline-block;
width:100%;
height:28px;
}
.window .ttl::before {
content:"";
width:18px;
margin-left:6px;
margin-top:6px;
margin-right:5px;
height:18px;
vertical-align:bottom;
display:inline-block;
}
.window .body {
border:1px solid rgba(0,0,0,.8);
position:absolute;
left:6px;
border-radius:2px;
box-shadow:inset 0px 0px 1px black, 0px 0px 1px white;
right:6px;
top:28px;
bottom:6px;
background-color:white;
color:black;
overflow:auto;
}