/*!
Project: Webdows
Liscense: MIT
Author: krisdb2009
Date: 05/08/16
File: webdows/resources/explorer/explorer.css
*/
#desktop {
position:absolute;
top:0px;
left:0px;
width:100%;
height:100%;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
cursor:default;
min-height:510px;
min-width:410px;
overflow:hidden;
}
button {
height:21px;
line-height:15px;
padding-left:5px;
padding-right:5px;
}
input[type=text] {
height:18px;
}
* {
outline:none;
}
@font-face {
font-family: NotoSans;
src: url('1.woff');
}
.icon {
background-image:url('../icons/exei.ico');
background-size:100% 100%;
width:16px;
height:16px;
display:inline-block;
}
#load {
background-image:url('1.gif');
background-color:black;
background-position:center;
background-repeat:no-repeat;
background-size:200px 200px;
position:absolute;
top:0px;
left:0px;
z-index:1005;
width:100%;
height:100%;
cursor:wait;
}
#load:before {

}
#open {
position:absolute;
width:100%;
height:100%;
left:0px;
top:0px;
overflow:hidden;
background-color:black;
z-index:1005;
cursor:none;
animation:es6 3s ease-in-out;
}
#open .a {
position:absolute;
left:calc(50% - 200px);
top:calc(50% - 50px);
width:400px;
height:100px;
background-image:url('1.png');
animation:es1 3s ease-in-out;
opacity:0;
background-repeat:no-repeat;
background-size:100px 100px;
}
#open .d {
position:absolute;
left:calc(50% - 200px);
top:calc(50% - 50px);
width:400px;
height:100px;
animation:es1 3s ease-in-out;
}
#open .d::before {
position:absolute;
line-height:95px;
color:white;
content:"Below Average";
font-family:NotoSans;
font-size:25px;
margin-left:100px;
animation:es3 3s ease-in-out;
}
#open .d::after {
position:absolute;
line-height:95px;
color:white;
content:"Webdows";
font-family:NotoSans;
font-size:25px;
margin-left:280px;
animation:es5 3s ease-in-out;
}
#open .a::before {
position:absolute;
content:"";
left:-110px;
top:-110px;
width:300px;
height:300px;
background-image:url('2.png');
animation:es2 3s ease;
opacity:0;
background-repeat:no-repeat;
background-size:100%;
}
#open .c {
position:absolute;
left:calc(50% - 280px);
top:calc(50% - 250px);
background-image:url('10.png');
width:600px;
height:550px;
opacity:0;
background-repeat:no-repeat;
background-size:100% 100%;
animation:es4 3s ease-in-out;
}
@keyframes es1 {
    0% {
        opacity:0;
        transform:scale(.99);
    } 10% {
        transform:scale(1);
    } 50% {
        opacity:1;
    } 70% {
        opacity:0;
    } 100% {
        opacity:0;
        transform:scale(0);
    }
}
@keyframes es3 {
    0% {
        opacity:0;
    } 15% {
        opacity:1;
    }
}
@keyframes es5 {
    0% {
        opacity:0;
    } 20% {
        opacity:1;
    }
}
@keyframes es4 {
    0% {
        opacity:0;
    } 20% {
        opacity:1;
    } 45% {
        transform:scale(1.1);
        opacity:0;
    }
}
@keyframes es2 {
    0% {
        opacity:0;
        transform:rotate(0deg);
    } 20% {
        opacity:1;
    } 45% {
        opacity:0;
    } 100% {
        opacity:0;
        transform:rotate(15deg);
    }
}
@keyframes es6 {
    0% {
        opacity:1;
    } 65% {
        opacity:1;
    } 100% {
        opacity:0;
    }
}