/*!
Project: Webdows
Liscense: MIT
Author: krisdb2009
Date: 05/08/16
File: webdows/resources/explorer/explorer.css
*/
#desktop {
position:absolute;
top:0px;
left:0px;
width:100%;
height:100%;
-webkit-tap-highlight-color:transparent;
-webkit-touch-callout:none;
-webkit-user-select:none;
-khtml-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
user-select:none;
cursor:default;
min-height:510px;
min-width:410px;
overflow:hidden;
}
button {
height:21px;
line-height:15px;
padding-left:5px;
padding-right:5px;
}
input[type=text] {
height:18px;
}
* {
outline:none;
}
@font-face {
font-family: NotoSans;
src: url('1.woff');
}
.icon {
background-image:url('../icons/exei.ico');
background-size:100% 100%;
width:16px;
height:16px;
display:inline-block;
}