#desktop {
position:absolute;
top:0px;
left:0px;
width:100%;
height:100%;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
cursor:default;
min-height:510px;
min-width:410px;
overflow:hidden;
}
button {
height:20px;
line-height:15px;
padding-left:5px;
padding-right:5px;
}
* {
outline:none;
}
@font-face {
font-family: NotoSans;
src: url('notosans.ttf');
}
.icon {
background-image:url('../icons/exei.ico');
background-size:100% 100%;
width:16px;
height:16px;
display:inline-block;
}
#open {
position:absolute;
left:50%;
top:50%;
margin-left:-100px;
margin-top:-100px;
width:200px;
height:200px;
background:url('open2.png');
animation:explorerstart 2s;
}
@keyframes explorerstart {
    0% {
        transform: scale(0.9);
        background:url('open1.png');
        opacity:0;
    } 30% {
        background:url('open1.png');
        opacity:1;
    } 50% {
        transform: scale(1);
    } 70% {
        background:url('open2.png');
        opacity:1;
    } 100% {
        background:url('open1.png');
        opacity:0;
    }
}