/*!
Project: Webdows
Liscense: MIT
Author: krisdb2009
Date: 04/30/16
File: webdows/resources/explorer/basic/index.css
*/
* {
font-family:NotoSans;
}
#desktop {
background-color:#909090;
background-size:100% 100%;
cursor: url('../webdows/cur.png'), default;
}
#taskbar  {
height:29px;
border-top:1px solid rgba(0,0,0,.5);
box-shadow:inset 0px 1px 0px rgba(255,255,255,.4);
background-color:#8294aa;
position:absolute;
bottom:0px;
left:0px;
width:100%;
z-index:1001;
}
#taskbar #middleframe {
position:absolute;
top:0px;
left:50px;
overflow:hidden;
right:80px;
display:flex;
}
#taskbar #rightframe {
position:absolute;
right:0px;
display:inline-block;
top:0px;
}
#taskbar #leftframe {
display:inline-block;
width:70px;
height:30px;
background: linear-gradient(to left, rgba(0,0,0,0) 0%,rgba(0,0,0,.3) 52%,rgba(0,0,0,.3) 100%);
}
#taskbar #leftframe::before {
content:"";
margin-left:5px;
bottom:0px;
display:inline-block;
width:36px;
margin-bottom:-1px;
height:36px;
position:absolute;
background-image:linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 18%,rgba(0,0,0,.5) 18%,rgba(255,255,255,.4) 100%);
border-radius:36px;
}
#start {
width:46px;
height:46px;
position:absolute;
bottom:-6px;
margin-left:0px;
background-size:100% 100%;
background-image:url('../webdows/so1.png');
opacity:1;
image-rendering: -webkit-optimize-contrast;
image-rendering: optimize-contrast;
}
#start:active::after {
opacity:1;
}
#start:hover::before {
opacity:0.7;
}
#start:active::before {
opacity:0;
transition:0s;
}
#start::before {
content:"";
transition:.5s;
width:46px;
height:46px;
position:absolute;
margin-left:0px;
background-size:100% 100%;
background-image:url('../webdows/so2.png');
opacity:0;
image-rendering: -webkit-optimize-contrast;
image-rendering: optimize-contrast;
}
#start::after {
content:"";
width:46px;
height:46px;
position:absolute;
margin-left:0px;
background-size:100% 100%;
background-image:url('../webdows/so3.png');
opacity:0;
image-rendering: -webkit-optimize-contrast;
image-rendering: optimize-contrast;
}
#taskbar #rightframe #time {
color:white;
font-size:14px;
line-height:28px;
height:30px;
background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,.3) 52%,rgba(0,0,0,.3) 100%);
display:inline-block;
width:75px;
text-align:center;
}
#taskbar #middleframe .button {
width:157px;
height:28px;
background-image:url('../webdows/bglos.svg'),linear-gradient(to bottom, transparent 0%,rgba(255,255,255,.5) 100%), linear-gradient(to bottom, transparent 0%,rgba(254,191,1,.5) 100%);
background-position:0px 0px ,0px 30px, 0px 30px;
background-repeat:no-repeat, no-repeat, no-repeat;
background-size:150px 100%, 100% 100%, 100% 100%;
border:1px solid rgba(0,0,0,.5);
box-shadow:inset 0px 1px 0px rgba(255,255,255,.3), inset 1px 0px 0px rgba(255,255,255,.3), inset 0px -1px 0px rgba(255,255,255,.3), inset -1px 0px 0px rgba(255,255,255,.3);
display:inline-block;
position:relative;
top:-1px;
margin-left:2px;
vertical-align:top;
color:white;
line-height:18px;
font-size:14px;
padding-right:3px;
text-overflow:ellipsis;
overflow:hidden;
white-space:nowrap;
transition:.5s;
border-radius:3px;
}
input[type=text] {
border-left:1px solid #e2e3eb;
border-top:1px solid #abadb4;
border-right:1px solid #dbdfe7;
border-bottom:1px solid #e3e9f0;
}
input[type=text]:focus {
border-left:1px solid #b5cfe7;
border-top:1px solid #3d7bad;
border-right:1px solid #a4c9e3;
border-bottom:1px solid #b7d9ed;
}
button {
background-image: linear-gradient(to bottom, #f2f2f2 0%,#ebebeb 50%,#ebebeb 50%,#dddddd 51%,#cfcfcf 100%);
border:1px solid #707070;
border-radius:3px;
box-shadow:inset 1px 0px 0px rgba(255,255,255,1), inset 0px -1px 0px rgba(255,255,255,1), inset -1px 0px 0px rgba(255,255,255,1), inset 0px 1px 0px rgba(255,255,255,1);
transition: .5s;
outline-offset:-3px;
outline-style:inset;
outline:1px dotted transparent;
}
button:hover {
border:1px solid #3c7fb1;
background-image: linear-gradient(to bottom, #eaf6fd 0%,#eaf6fd 50%,#bee6fd 50%,#bee6fd 51%,#a7d9f5 100%);
}
button:focus {
border:1px solid #3c7fb1;
background-image: linear-gradient(to bottom, #f2f2f2 0%,#ebebeb 50%,#ebebeb 50%,#dddddd 51%,#cfcfcf 100%);
outline:1px dotted black;
box-shadow:inset 1px 0px 0px #63ddfb, inset 0px -1px 0px #63ddfb, inset -1px 0px 0px #63ddfb, inset 0px 1px 0px #63ddfb;
}
button:focus:hover {
background-image: linear-gradient(to bottom, #eaf6fd 0%,#eaf6fd 50%,#bee6fd 50%,#bee6fd 51%,#a7d9f5 100%);
box-shadow:inset 1px 0px 0px rgba(255,255,255,1), inset 0px -1px 0px rgba(255,255,255,1), inset -1px 0px 0px rgba(255,255,255,1), inset 0px 1px 0px rgba(255,255,255,1);
transition: 0s;
}
button:focus:active {
border:1px solid #2c628b;
background-image: linear-gradient(to bottom, #e5f4fc 0%,#c4e5f6 50%,#c4e5f6 50%,#98d1ef 51%,#68b3db 100%);
box-shadow:inset 1px 0px 0px rgba(0,0,0,.3), inset 0px -1px 0px rgba(0,0,0,.3), inset -1px 0px 0px rgba(0,0,0,.3), inset 0px 1px 0px rgba(0,0,0,.3);
}
#taskbar #middleframe .button.active, #taskbar #middleframe .button.active:hover {
background-position:0, 0px 30px, 0px 0px;
}
#taskbar #middleframe .button:hover {
background-position:0, 0px 0px, 0px 30px;
}
#taskbar #middleframe .button.ui-sortable-helper {
transition:none;
}
#taskbar #middleframe .button .icon {
width:18px;
margin-left:8px;
margin-top:5px;
margin-right:5px;
height:18px;
vertical-align:bottom;
display:inline-block;
}
.window {
width:300px;
height:300px;
top:10px;
left:10px;
position:absolute !important;
border-top-left-radius:6px;
border-top-right-radius:6px;
border:1px solid #4d4d4d;
box-shadow:inset 0px 1px 0px #e9ecf3, inset 1px 0px 0px #e9ecf3, inset 0px -1px 0px #e9ecf3, inset -1px 0px 0px #e9ecf3;
background-color:#d7e4f2;
background-image:linear-gradient(to bottom, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 100%), linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 21%,rgba(255,255,255,.5) 33%,rgba(255,255,255,0) 34%,rgba(255,255,255,0) 100%);
background-size:100% 28px, 100% 300px;
background-repeat:no-repeat, no-repeat;
min-height:38px;
min-width:117px;
}
@keyframes fadein {
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}
.window.close {
opacity:0;
}
.window .minmaxclose {
display:inline-block;
position:absolute;
right:6px;
text-align:right;
margin-top:8px;
image-rendering:pixelated;
}
.window .minmaxclose span {
display:inline-block;
height:15px;
width:29px;
border:1px solid #8590aa;
margin-right:2px;
border-radius:2px;
box-shadow:inset 1px 1px 0px rgba(255,255,255,0.3), inset -1px -1px 0px rgba(255,255,255,0.3);
}
.window.active .minmaxclose .min {
border:1px solid #62738c;
background-image:url('../webdows/min.png'), linear-gradient(to bottom, #c3d4e7 0%,#bed3e8 50%,#98b1cc 51%,#b7d0e9 100%);
}
.window.active .minmaxclose .max {
border:1px solid #62738c;
background-image:url('../webdows/max.png'), linear-gradient(to bottom, #c3d4e7 0%,#bed3e8 50%,#98b1cc 51%,#b7d0e9 100%);
}
.window.active.maximized .minmaxclose .max {
background-image:url('../webdows/mmax.png'), linear-gradient(to bottom, #c3d4e7 0%,#bed3e8 50%,#98b1cc 51%,#b7d0e9 100%);
}
.window.active .minmaxclose .close {
border:1px solid #431422;
background-image:url('../webdows/exi.png'), linear-gradient(to bottom, rgba(218,154,144,1) 0%,rgba(200,109,92,1) 50%,rgba(200,109,92,1) 50%,rgba(180,52,28,1) 51%,rgba(192,109,85,1) 100%);
}
.window .minmaxclose .min {
background-image:url('../webdows/min.png'), none;
background-position:50% calc(50% + 3px), 0;
background-repeat:no-repeat, repeat;
}
.window .minmaxclose .max {
background-image:url('../webdows/max.png'), none;
background-position:50% 50%, 0;
background-repeat:no-repeat, repeat;
}
.window.maximized .minmaxclose .max {
background-image:url('../webdows/mmax.png'), none;
}
.window .minmaxclose .close {
background-image:url('../webdows/exi.png'), none;
background-position:50% 50%, 0;
background-repeat:no-repeat, repeat;
}
.window .minmaxclose .min:hover {
border:1px solid #62738c;
background-image:url('../webdows/min.png'), linear-gradient(to bottom, rgba(176,210,235,1) 0%,rgba(132,182,214,1) 50%,rgba(42,123,175,1) 51%,rgba(55,189,218,1) 100%);
}
.window .minmaxclose .max:hover {
border:1px solid #62738c;
background-image:url('../webdows/max.png'), linear-gradient(to bottom, rgba(176,210,235,1) 0%,rgba(132,182,214,1) 50%,rgba(42,123,175,1) 51%,rgba(55,189,218,1) 100%);
}
.window.maximized .minmaxclose .max:hover {
background-image:url('../webdows/mmax.png'), linear-gradient(to bottom, rgba(176,210,235,1) 0%,rgba(132,182,214,1) 50%,rgba(42,123,175,1) 51%,rgba(55,189,218,1) 100%);
}
.window .minmaxclose .close:hover {
border:1px solid #431422;
background-image:url('../webdows/exi.png'), linear-gradient(to bottom, rgba(251,157,139,1) 0%,rgba(238,109,86,1) 50%,rgba(238,109,86,1) 50%,rgba(213,41,10,1) 51%,rgba(230,148,47,1) 100%);
}
.window.minimized {
visibility:hidden;
opacity:0;
}
.window.maximized {
width:100% !important;
height:calc(100% - 30px) !important;
top:0px !important;
left:0px !important;
border:none !important;
border-radius:0px;
box-shadow:none !important;
}
.window.maximized .body {
left:0px;
right:0px;
bottom:0px;
box-shadow:none !important;
border:none !important;
border-radius:0px;
}
.window.maximized .minmaxclose {
right:3px;
top:-1px;
}
.window.active {
border:1px solid black;
border-top:1px solid #343434;
background-color:#b9d1ea;
background-image:linear-gradient(to bottom, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 100%), linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 21%,rgba(255,255,255,1) 33%,rgba(255,255,255,0) 34%,rgba(255,255,255,0) 100%);
box-shadow:inset 0px 1px 0px #fff, inset 1px 0px 0px #fff, inset 0px -1px 0px #28cfe4, inset -1px 0px 0px #28cfe4;
}
.window .ttl {
color:black;
font-size:13px;
text-overflow:ellipsis;
overflow:hidden;
white-space: nowrap;
display:inline-block;
width:calc(100% - 110px);
height:28px;
}
.window .ttl .icon {
width:18px;
margin-left:6px;
margin-top:6px;
margin-right:5px;
height:18px;
vertical-align:bottom;
display:inline-block;
}
.window .body {
position:absolute;
left:7px;
right:7px;
top:28px;
bottom:7px;
background-color:#F0F0F0;
color:black;
overflow:auto;
}
.window .ui-resizable-handle {
position:absolute;
}
.window .ui-resizable-n {
top:0px;
width:100%;
height:3px;
left:0px;
cursor:ns-resize;
}
.window .ui-resizable-e {
height:100%;
width:5px;
right:0px;
top:0px;
cursor:ew-resize;
}
.window .ui-resizable-s {
width:100%;
height:5px;
left:0px;
bottom:0px;
cursor:ns-resize;
}
.window .ui-resizable-w {
height:100%;
width:5px;
left:0px;
top:0px;
cursor:ew-resize;
}
.window .ui-resizable-ne {
width:5px;
height:5px;
cursor:ne-resize;
right:0px;
top:0px;
}
.window .ui-resizable-se {
width:5px;
height:5px;
cursor:se-resize;
right:0px;
bottom:0px;
}
.window .ui-resizable-sw {
width:5px;
height:5px;
cursor:sw-resize;
left:0px;
bottom:0px;
}
.window .ui-resizable-nw {
width:5px;
height:5px;
cursor:nw-resize;
left:0px;
top:0px;
}
#startmenu {
position:absolute;
bottom:30px;
left:0px;
width:409px;
height:474px;
border:1px solid rgba(0,0,0,.5);
box-shadow:inset 0px 1px 0px rgba(255,255,255,.3), inset 1px 0px 0px rgba(255,255,255,.3), inset 0px -1px 0px rgba(255,255,255,.3), inset -1px 0px 0px rgba(255,255,255,.3);
z-index:1000;
background-image:linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 50%,rgba(255,255,255,0) 100%);
background-color:#8294aa;
border-top-left-radius:7px;
border-top-right-radius:7px;
}
#startmenu.minimized {
visibility:hidden;
display:none;
}
#startmenu .lllist {
border-top:1px solid rgba(0,0,0,.7);
border-left:1px solid rgba(0,0,0,.7);
border-right:1px solid rgba(0,0,0,.7);
box-shadow:1px 0px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(255,255,255,.3), -1px 0px 0px rgba(255,255,255,.3);
width:250px;
height:382px;
position:absolute;
left:7px;
top:7px;
border-top-left-radius:4px;
border-top-right-radius:4px;
background-color:white;
overflow:hidden;
}
#startmenu .lllist.all {
overflow-y:scroll;
}
#startmenu .search {
position:absolute;
bottom:8px;
border-bottom-left-radius:4px;
border-bottom-right-radius:4px;
left:7px;
width:250px;
height:45px;
box-shadow:inset 0 10px 10px -10px #a3adbb, 1px 0px 0px rgba(255,255,255,.3), 0px 1px 0px rgba(255,255,255,.3), -1px 0px 0px rgba(255,255,255,.3);
background-color:#f1f5fb;
font-size:14px;
border-bottom:1px solid rgba(0,0,0,.7);
border-left:1px solid rgba(0,0,0,.7);
border-right:1px solid rgba(0,0,0,.7);
}
#startmenu .search input {
height:20px;
position:absolute;
top:10px;
left:10px;
width:calc(100% - 24px);
}
#startmenu .lllist.all .button {
height:18px;
line-height:16px;
font-size:13px;
}
#startmenu .apb {
bottom:54px;
left:7px;
position:absolute;
right:10px;
height:30px;
background-color:white;
width:250px;
border-left:1px solid rgba(0,0,0,.7);
border-right:1px solid rgba(0,0,0,.7);
box-shadow:1px 0px 0px rgba(255,255,255,.3), -1px 0px 0px rgba(255,255,255,.3);
}
#startmenu .apb::after {
top:4px;
left:2px;
position:absolute;
content:"\25B6 \20 All Programs";
border:1px solid transparent;
right:2px;
font-size:13px;
padding-left:5px;
padding-right:5px;
}
#startmenu .lllist.all + .apb::after {
content:"\25c0 \20 Back";
}
#startmenu .apb::before {
border-top:1px solid lightgray;
content:"";
width:calc(100% - 14px);
position:absolute;
margin-left:7px;
}
#startmenu .lllist .button {
margin-left:2px;
margin-right:2px;
width:auto;
height:34px;
border:1px solid transparent;
display:block;
font-size:14px;
margin-top:2px;
text-overflow:ellipsis;
overflow:hidden;
white-space: nowrap;
}
#startmenu .lllist .button:hover, #startmenu  .apb:hover::after {
border:1px solid #7da2ce;
border-radius:3px;
box-shadow:inset 1px 0px 0px rgba(255,255,255,.3), inset 0px -1px 0px rgba(255,255,255,.3), inset -1px 0px 0px rgba(255,255,255,.3), inset 0px 1px 0px rgba(255,255,255,.3);
background: linear-gradient(to bottom, rgba(221,236,253,1) 0%,rgba(194,220,253,1) 100%);
}
#startmenu .lllist .button .icon {
display:inline-block;
width:32px;
height:32px;
vertical-align:-10px;
margin-right:6px;
}
#startmenu .lllist.all .button .icon {
width:16px;
height:16px;
vertical-align: -3px;
}
#startmenu .rllist {
right:7px;
top:85px;
position:absolute;
left:265px;
}
#startmenu .rllist .button {
border:1px solid transparent;
color:white;
border-radius:4px;
height:29px;
width:calc(100% - 12px);
font-size:13px;
line-height:28px;
padding-left:6px;
padding-right:6px;
text-overflow:ellipsis;
overflow:hidden;
white-space: nowrap;
margin-bottom:5px;
}
#startmenu .rllist .button:hover {
border:1px solid rgba(0,0,0,.9);
box-shadow:inset 1px 0px 0px rgba(255,255,255,.3), inset 0px -1px 0px rgba(255,255,255,.3), inset -1px 0px 0px rgba(255,255,255,.3), inset 0px 1px 0px rgba(255,255,255,.3), 1px 0px 0px rgba(255,255,255,.2), 0px -1px 0px rgba(255,255,255,.2), -1px 0px 0px rgba(255,255,255,.2), 0px 1px 0px rgba(255,255,255,.2);
background: linear-gradient(to bottom, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0) 51%,rgba(255,255,255,0.2) 100%);
}
#startmenu > .icon {
content:"";
position:absolute;
display:block;
width:70px;
height:70px;
background-image:url('../../icons/logo.png');
background-size:100% 100%;
right:40px;
top:5px;
transition:.3s;
}
.context {
border:2px solid #f5f5f5;
outline:1px solid #979797;
background-color:#f0f0f0;
font-size:12px;
display:inline-block;
box-shadow:3px 3px 3px rgba(0,0,0,.3);
position:absolute;
z-index:1002;
animation:.3s fadein;
}
.context .hr {
display:block;
height:2px;
background-color:#e0e0e0;
box-shadow:inset 0px -1px 0px white;
margin-left:px;
margin:4px 0px 4px 26px;
}
.context .button {
margin:0;
padding:2px 2px 1px 2px;
border:1px solid transparent;
position:relative;
}
.context .button.disabled {
color:#6d6d6d;
}
.context .button.hovered {
border:1px solid rgba(125,162,206,.5);
border-radius:3px;
box-shadow:inset 1px 0px 0px rgba(255,255,255,.3), inset 0px -1px 0px rgba(255,255,255,.3), inset -1px 0px 0px rgba(255,255,255,.3), inset 0px 1px 0px rgba(255,255,255,.3);
background: linear-gradient(to bottom, rgba(221,236,253,.5) 0%,rgba(194,220,253,.5) 100%);
}
.context .title {
margin-left:5px;
padding-right:50px;
}
.context::before {
content:"";
position:absolute;
height:100%;
width:1px;
left:24px;
top:0px;
background-color:#e0e0e0;
box-shadow:1px 0px 0px white;
}
.context .icon {
vertical-align:-3px;
margin-right:5px
}
.context .button.arrow::after {
content:"\25B6";
float:right;
margin-right:2px;
}